.case {
   display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  margin-bottom: 30px;
  margin-top: 30px;
  
  
} 

 .allcasesImage {
   height: 50%; 
  width: 50%;
} 


.test{
    border: 2px solid grey;
    padding: 50px;
}

.allcasesImage:hover {
  cursor: pointer;
}

.allcasesTitle {
  font-size: larger;
  color: black;
  font-size: x-large;
  /* margin-top: 100px; */
}

.TheAmountReguired {
  font-size: x-large;
}

 /* .update {
}

.delete {
}  */
