/* .table,
th,
td { */
/* margin-right: 20%; */
/* margin-left: 20%; */
/* width: 80%; */
/* border-collapse: separate; */
/* border-spacing: 2% 2%; */
/* border: 1px solid rgba(17, 17, 17, 0.377); */
/* } */
.images5 {
  background-color: rgb(0, 177, 0);
  /* margin: 5%; */
  margin-top: 5%;
  transform: translate(40em, -24.3em);
  width: 20%;
  height: 80px;
  border-radius: 4px;
}
.images4 {
  background-color: yellow;
  /* margin: 5%; */
  margin-top: 5%;
  transform: translate(62em, -15.3em);
  width: 20%;
  height: 80px;
  border-radius: 4px;
}
.alll {
  height: 100%;
  background: linear-gradient(to left, #fcfcfc 85%, rgb(56, 52, 52) 15%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.images3 {
  background-color: red;
  /* margin: 5%; */
  margin-top: 5%;
  transform: translate(18em, -6em);
  width: 20%;
  height: 80px;
  border-radius: 4px;
  /* float: right; */
}
.voluntlink {
  color: white;
  text-decoration: none;
  font-size: 1em;
  float: left;
  transform: translate(2.7em, 7em);
}
.userlink {
  color: white;
  text-decoration: none;
  font-size: 1em;
  float: left;
  transform: translate(2.7em, 5em);
}
.caselink {
  color: white;
  text-decoration: none;
  font-size: 1em;
  float: left;
  transform: translate(2.7em, 2.4em);
}
/* .oper { */
/* width: 5%; */
/* } */
.uplo {
  width: 7%;
  height: 5%;
  cursor: pointer;
  /* margin-right: 10%; */
}
.update1 {
  width: 10%;
  cursor: pointer;
}
.update1:hover {
  background-color: yellow;
}
/* .uploadIcon { */
/* font-size: 1.3em; */
/* } */

.image:hover {
  border-top: 1px rgba(116, 105, 105, 0.342) solid;
  border-right: 1px rgba(138, 127, 127, 0.342) solid;
  border-left: 1px rgba(138, 127, 127, 0.342) solid;
  border-bottom: 1px rgba(138, 127, 127, 0.342) solid;
  color: black;
}

.image {
  border-top: 1px rgba(116, 105, 105, 0.342) solid;
  border-right: 1px rgba(138, 127, 127, 0.342) solid;
  border-left: 1px rgba(138, 127, 127, 0.342) solid;
  border-bottom: 1px rgba(138, 127, 127, 0.342) solid;
  color: black;
  border-radius: 5px;
  width: 54%;
}
.i {
  transform: translate(11.4em, -1em);
  font-size: 1.2em;
}
.imageIcon {
  font-size: 1em;
  color: white;
  transform: translate(1.5em, 1em);
  /* transform: translate(30em, 0.9em); */
  /* display: grid; */
}

.imageIcon:hover {
  cursor: pointer;
}

.uploadIcon {
  height: 1em;
  margin-left: 0.2em;
}

.uploadIcon:hover {
  cursor: pointer;
}

/* .uploadIcon:active {
  background-color: #039214;
} */

.uploadImageButton:active {
  background-color: #039214;
}

.addImage {
  height: 2em;
  margin-left: 2em;
}

.addImage:hover {
  cursor: pointer;
}

.upload1:hover {
  background-color: #039214;
}
.upload1 {
  cursor: pointer;
  width: 2em;
}
th {
  color: white;
  background-color: #262524;
}
.ttt:nth-child(odd) {
  background-color: #ebebeb;
}
.next:hover {
  cursor: pointer;
  background: #68666485;
}
.back:hover {
  cursor: pointer;
  background: #68666485;
}
.back {
  width: 3%;
  background-color: #ebebeb;
  font-size: 100%;
}
.next {
  /* float: right; */
  width: 3%;
  background-color: #ebebeb;
  font-size: 100%;
}
/* 
.table {
  width: 80%;
  margin-left: 2%;
  position: relative;
  justify-content: center;
  text-align: center;
}
th,
td {
  text-align: right;
  padding: 8px;
  text-align: left;
} */
/* .head {
  font-size: 100%;
} */
.arrow {
  float: right;
}

.model {
  display: grid;
  text-align: center;
  justify-content: center;
}
.plus {
  height: 2em;
  width: 2em;
  float: right;
  color: white;
  font-size: 1.2em;
  transform: translate(0em, -0.7em);
  cursor: pointer;
  margin-top: 10px;
}

.category:hover {
  border-top: 1px rgb(0, 0, 0) solid;
  border-right: 1px rgb(0, 0, 0) solid;
  border-left: 1px rgb(0, 0, 0) solid;
  border-bottom: 1px rgb(0, 0, 0) solid;
}
.category {
  border-top: 1px rgba(116, 105, 105, 0.342) solid;
  border-right: 1px rgba(138, 127, 127, 0.342) solid;
  border-left: 1px rgba(138, 127, 127, 0.342) solid;
  border-bottom: 1px rgba(138, 127, 127, 0.342) solid;
  color: black;
  width: 60%;
  height: 20px;
  border-radius: 5px;
}

.image22:hover {
  border-top: 1px rgb(0, 0, 0) solid;
  border-right: 1px rgb(0, 0, 0) solid;
  border-left: 1px rgb(0, 0, 0) solid;
  border-bottom: 1px rgb(0, 0, 0) solid;
}
.image22 {
  border-top: 1px rgba(116, 105, 105, 0.342) solid;
  border-right: 1px rgba(138, 127, 127, 0.342) solid;
  border-left: 1px rgba(138, 127, 127, 0.342) solid;
  border-bottom: 1px rgba(138, 127, 127, 0.342) solid;
  color: black;
  border-radius: 5px;
  width: 54%;
}

.title:hover {
  border-top: 1px rgb(0, 0, 0) solid;
  border-right: 1px rgb(0, 0, 0) solid;
  border-left: 1px rgb(0, 0, 0) solid;
  border-bottom: 1px rgb(0, 0, 0) solid;
}
.title {
  width: 60%;
  height: 20px;
  border-top: 1px rgba(116, 105, 105, 0.342) solid;
  border-right: 1px rgba(138, 127, 127, 0.342) solid;
  border-left: 1px rgba(138, 127, 127, 0.342) solid;
  border-bottom: 1px rgba(138, 127, 127, 0.342) solid;
  color: black;
  border-radius: 5px;
}
.amount:hover {
  border-top: 1px rgb(0, 0, 0) solid;
  border-right: 1px rgb(0, 0, 0) solid;
  border-left: 1px rgb(0, 0, 0) solid;
  border-bottom: 1px rgb(0, 0, 0) solid;
}
.amount {
  width: 60%;
  height: 20px;
  border-top: 1px rgba(116, 105, 105, 0.342) solid;
  border-right: 1px rgba(138, 127, 127, 0.342) solid;
  border-left: 1px rgba(138, 127, 127, 0.342) solid;
  border-bottom: 1px rgba(138, 127, 127, 0.342) solid;
  color: black;
  border-radius: 5px;
}
.description:hover {
  border-top: 1px rgb(0, 0, 0) solid;
  border-right: 1px rgb(0, 0, 0) solid;
  border-left: 1px rgb(0, 0, 0) solid;
  border-bottom: 1px rgb(0, 0, 0) solid;
}
.description {
  width: 60%;
  height: 20px;
  border-top: 1px rgba(116, 105, 105, 0.342) solid;
  border-right: 1px rgba(138, 127, 127, 0.342) solid;
  border-left: 1px rgba(138, 127, 127, 0.342) solid;
  border-bottom: 1px rgba(138, 127, 127, 0.342) solid;
  color: black;
  border-radius: 5px;
}

.new:hover {
  border-top: 1px rgb(0, 0, 0) solid;
  border-right: 1px rgb(0, 0, 0) solid;
  border-left: 1px rgb(0, 0, 0) solid;
  border-bottom: 1px rgb(0, 0, 0) solid;
  cursor: pointer;
}
.new {
  height: 30%;
  width: 60%;
  border-radius: 5px;
  border-top: 1px rgba(116, 105, 105, 0.342) solid;
  border-right: 1px rgba(138, 127, 127, 0.342) solid;
  border-left: 1px rgba(138, 127, 127, 0.342) solid;
  border-bottom: 1px rgba(138, 127, 127, 0.342) solid;
  background-color: #f5c323;
  color: black;
  font-size: 2ch;
}

.countUser {
  height: 2em;
  width: 2em;
  float: left;
  transform: translate(2em, 0em);
  margin-top: 10px;
}
.countUserPrg {
  font-size: 25px;
  float: left;
  font-weight: bold;
  transform: translate(2em, 0.1em);
  margin-top: 10px;
}
