.table,
th,
td {
  /* margin-right: 20%; */
  /* margin-left: 20%; */
  /* width: 80%; */
  /* border-collapse: separate; */
  /* border-spacing: 2% 2%; */
  /* border: 1px solid rgba(17, 17, 17, 0.377); */
}
.id {
  width: 3%;
}
.categor {
  width: 5%;
}
.tit1 {
  width: 9%;
}
.amout {
  width: 11%;
}
.img2 {
  width: 30%;
}
.descr {
  width: 15%;
}
.donatio {
  width: 5%;
}
.don {
  width: 5%;
}
.oper {
  /* width: 5%; */
}
.uplo {
  width: 7%;
  height: 5%;
  cursor: pointer;
  /* margin-right: 10%; */
}
.update1 {
  width: 10%;
  cursor: pointer;
}
.update1:hover {
  background-color: yellow;
}
.uploadIcon{
    /* font-size: 1.3em; */
}
/* .upload1:hover{
    background-color: yellow;
} */
.upload1 {
  cursor: pointer;
  width: 2em;
}
th {
  color: white;
  background-color: #262524;
}
.ttt:nth-child(odd) {
  background-color: #ebebeb;
}
.next:hover {
  cursor: pointer;
  background: #68666485;
}
.back:hover {
  cursor: pointer;
  background: #68666485;
}
.back {
  width: 3%;
  background-color: #ebebeb;
  font-size: 100%;
}
.next {
  /* float: right; */
  width: 3%;
  background-color: #ebebeb;
  font-size: 100%;
}

.table {
  width: 80%;
  margin-left: 2%;
  position: relative;
  justify-content: center;
  text-align: center;
}
th,
td {
  text-align: right;
  padding: 8px;
  text-align: left;
}
.head {
  font-size: 100%;
}
.arrow {
  float: right;
}
.deleteIcon :hover {
  cursor: pointer;
  float: left;
}
.deleteIcon {
  /* transform: translate(0.4em, 0em); */
  font-size: 1.5em;
  color: red;
  float: left;
}
.editIcon :hover {
  cursor: pointer;
  float: right;
}
.editIcon {
  /* transform: translate(-0.4em, 0em); */
  float: right;
  /* margin-top: 8%; */
  color: rgb(28, 28, 241);
  font-size: 1.5em;
}
.model {
  display: grid;
  text-align: center;
  justify-content: center;
}
.plus {
  height: 2em;
  width: 2em;
  float: right;
  transform: translate(-6em, 0em);
  cursor: pointer;
  margin-top: 10px;
}

.category:hover {
  border-top: 1px rgb(0, 0, 0) solid;
  border-right: 1px rgb(0, 0, 0) solid;
  border-left: 1px rgb(0, 0, 0) solid;
  border-bottom: 1px rgb(0, 0, 0) solid;
}
.category {
  border-top: 1px rgba(116, 105, 105, 0.342) solid;
  border-right: 1px rgba(138, 127, 127, 0.342) solid;
  border-left: 1px rgba(138, 127, 127, 0.342) solid;
  border-bottom: 1px rgba(138, 127, 127, 0.342) solid;
  color: black;
  width: 60%;
  height: 20px;
  border-radius: 5px;
}

.image22:hover {
  border-top: 1px rgb(0, 0, 0) solid;
  border-right: 1px rgb(0, 0, 0) solid;
  border-left: 1px rgb(0, 0, 0) solid;
  border-bottom: 1px rgb(0, 0, 0) solid;
}
.image22 {
  border-top: 1px rgba(116, 105, 105, 0.342) solid;
  border-right: 1px rgba(138, 127, 127, 0.342) solid;
  border-left: 1px rgba(138, 127, 127, 0.342) solid;
  border-bottom: 1px rgba(138, 127, 127, 0.342) solid;
  color: black;
  border-radius: 5px;
  width: 54%;
}

.title:hover {
  border-top: 1px rgb(0, 0, 0) solid;
  border-right: 1px rgb(0, 0, 0) solid;
  border-left: 1px rgb(0, 0, 0) solid;
  border-bottom: 1px rgb(0, 0, 0) solid;
}
.title {
  width: 60%;
  height: 20px;
  border-top: 1px rgba(116, 105, 105, 0.342) solid;
  border-right: 1px rgba(138, 127, 127, 0.342) solid;
  border-left: 1px rgba(138, 127, 127, 0.342) solid;
  border-bottom: 1px rgba(138, 127, 127, 0.342) solid;
  color: black;
  border-radius: 5px;
}
.amount:hover {
  border-top: 1px rgb(0, 0, 0) solid;
  border-right: 1px rgb(0, 0, 0) solid;
  border-left: 1px rgb(0, 0, 0) solid;
  border-bottom: 1px rgb(0, 0, 0) solid;
}
.amount {
  width: 60%;
  height: 20px;
  border-top: 1px rgba(116, 105, 105, 0.342) solid;
  border-right: 1px rgba(138, 127, 127, 0.342) solid;
  border-left: 1px rgba(138, 127, 127, 0.342) solid;
  border-bottom: 1px rgba(138, 127, 127, 0.342) solid;
  color: black;
  border-radius: 5px;
}
.description:hover {
  border-top: 1px rgb(0, 0, 0) solid;
  border-right: 1px rgb(0, 0, 0) solid;
  border-left: 1px rgb(0, 0, 0) solid;
  border-bottom: 1px rgb(0, 0, 0) solid;
}
.description {
  width: 60%;
  height: 20px;
  border-top: 1px rgba(116, 105, 105, 0.342) solid;
  border-right: 1px rgba(138, 127, 127, 0.342) solid;
  border-left: 1px rgba(138, 127, 127, 0.342) solid;
  border-bottom: 1px rgba(138, 127, 127, 0.342) solid;
  color: black;
  border-radius: 5px;
}

.new:hover {
  border-top: 1px rgb(0, 0, 0) solid;
  border-right: 1px rgb(0, 0, 0) solid;
  border-left: 1px rgb(0, 0, 0) solid;
  border-bottom: 1px rgb(0, 0, 0) solid;
  cursor: pointer;
}
.new {
  height: 30%;
  width: 60%;
  border-radius: 5px;
  border-top: 1px rgba(116, 105, 105, 0.342) solid;
  border-right: 1px rgba(138, 127, 127, 0.342) solid;
  border-left: 1px rgba(138, 127, 127, 0.342) solid;
  border-bottom: 1px rgba(138, 127, 127, 0.342) solid;
  background-color: #f5c323;
  color: black;
  font-size: 2ch;
}

.countUser {
  height: 2em;
  width: 2em;
  float: left;
  transform: translate(10em, 0em);
  margin-top: 10px;
}
.countUserPrg {
  font-size: 25px;
  float: left;
  font-weight: bold;
  transform: translate(7em, 0.1em);
  margin-top: 10px;

}
