.registerPage {
  /* display: grid; */
  height: 100%;
  width: 100%;
  margin-top: 2%;
  border: 0px 1px  solid;
  overflow: hidden;
}

.signup {
  font-size: 3.7ch;
  font-family: "Gill Sans", sans-serif;
}


.registerMessage{
transform: translate(0.2em,1em);
}

.firstNameLabel {
    font-size: larger;
      
  }

  .firstName:hover {
    border-top: 1px rgb(0, 0, 0) solid;
    border-right: 1px rgb(0, 0, 0) solid;
    border-left: 1px rgb(0, 0, 0) solid;
    border-bottom: 1px rgb(0, 0, 0) solid;
  }
  .firstName {
    height: 30px;
    width: 20%;
    border-top: 1px rgba(116, 105, 105, 0.342) solid;
    border-right: 1px rgba(138, 127, 127, 0.342) solid;
    border-left: 1px rgba(138, 127, 127, 0.342) solid;
    border-bottom: 1px rgba(138, 127, 127, 0.342) solid;
    color: black;
    border-radius: 5px;
  }
  


.password:hover {
  border-top: 1px rgb(0, 0, 0) solid;
  border-right: 1px rgb(0, 0, 0) solid;
  border-left: 1px rgb(0, 0, 0) solid;
  border-bottom: 1px rgb(0, 0, 0) solid;
}
.password {
  height: 30px;
  width: 20%;
  border-top: 1px rgba(116, 105, 105, 0.342) solid;
  border-right: 1px rgba(138, 127, 127, 0.342) solid;
  border-left: 1px rgba(138, 127, 127, 0.342) solid;
  border-bottom: 1px rgba(138, 127, 127, 0.342) solid;
  color: black;
  border-radius: 5px;
}

.lastName:hover {
  border-top: 1px rgb(0, 0, 0) solid;
  border-right: 1px rgb(0, 0, 0) solid;
  border-left: 1px rgb(0, 0, 0) solid;
  border-bottom: 1px rgb(0, 0, 0) solid;
}
.lastName {
  height: 30px;
  width: 20%;
  border-top: 1px rgba(116, 105, 105, 0.342) solid;
  border-right: 1px rgba(138, 127, 127, 0.342) solid;
  border-left: 1px rgba(138, 127, 127, 0.342) solid;
  border-bottom: 1px rgba(138, 127, 127, 0.342) solid;
  color: black;
  border-radius: 5px;
}

.country:hover {
  border-top: 1px rgb(0, 0, 0) solid;
  border-right: 1px rgb(0, 0, 0) solid;
  border-left: 1px rgb(0, 0, 0) solid;
  border-bottom: 1px rgb(0, 0, 0) solid;
}
.country {
  height: 30px;
  width: 20%;
  border-top: 1px rgba(116, 105, 105, 0.342) solid;
  border-right: 1px rgba(138, 127, 127, 0.342) solid;
  border-left: 1px rgba(138, 127, 127, 0.342) solid;
  border-bottom: 1px rgba(138, 127, 127, 0.342) solid;
  color: black;
  border-radius: 5px;
}

.imageFile{
  margin-left: 3%;

}


.uploadButton{
  height: 4vh;
  width: 13vh;
  transform: translate(-4em, 0.1em);
font-size: large;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.uploadButton:hover{
cursor: pointer;
}

.uploadButton:active{
  background-color: #04AA6D;
}



.email:hover {
  border-top: 1px rgb(0, 0, 0) solid;
  border-right: 1px rgb(0, 0, 0) solid;
  border-left: 1px rgb(0, 0, 0) solid;
  border-bottom: 1px rgb(0, 0, 0) solid;
}
.email {
  height: 30px;
  width: 20%;
  border-top: 1px rgba(116, 105, 105, 0.342) solid;
  border-right: 1px rgba(138, 127, 127, 0.342) solid;
  border-left: 1px rgba(138, 127, 127, 0.342) solid;
  border-bottom: 1px rgba(138, 127, 127, 0.342) solid;
  color: black;
  border-radius: 5px;
}
.link {
  color: rgb(41, 41, 153);
  text-decoration: none;
}
.sent {
  font-size: 1.5ch;
  font-family: system-ui;
  color: rgb(117, 117, 117);
}
.registerButton:hover {
  border-top: 1px rgb(0, 0, 0) solid;
  border-right: 1px rgb(0, 0, 0) solid;
  border-left: 1px rgb(0, 0, 0) solid;
  border-bottom: 1px rgb(0, 0, 0) solid;
  cursor: pointer;
}

.registerButton {
  height: 30px;
  width: 20%;
  border-radius: 5px;
  border-top: 1px rgba(116, 105, 105, 0.342) solid;
  border-right: 1px rgba(138, 127, 127, 0.342) solid;
  border-left: 1px rgba(138, 127, 127, 0.342) solid;
  border-bottom: 1px rgba(138, 127, 127, 0.342) solid;
  background-color: #f5c323;
  color: black;
  font-size: 2.2ch;
}



