.registerPage {
  height: 100%;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 2%;
  border: 2px solid rgba(37, 33, 29, 0.4);
  overflow: hidden;
}
.accountUp{
  font-size: 1.7ch;
  font-family: system-ui;
  color: rgb(117, 117, 117); 
}
.signup {
  font-size: 3.7ch;
  color: #25211d;
  font-family: "Gill Sans", sans-serif;
}

/* .registerMessage {
  transform: translate(0.2em, 1em);
} */
.firstName:hover {
  border-top: 1px rgb(0, 0, 0) solid;
  border-right: 1px rgb(0, 0, 0) solid;
  border-left: 1px rgb(0, 0, 0) solid;
  border-bottom: 1px rgb(0, 0, 0) solid;
}
.firstName {
  height: 30px;
  width: 62%;
  border-top: 1px rgba(116, 105, 105, 0.342) solid;
  border-right: 1px rgba(138, 127, 127, 0.342) solid;
  border-left: 1px rgba(138, 127, 127, 0.342) solid;
  border-bottom: 1px rgba(138, 127, 127, 0.342) solid;
  color: black;
  border-radius: 5px;
}

.password:hover {
  border-top: 1px rgb(0, 0, 0) solid;
  border-right: 1px rgb(0, 0, 0) solid;
  border-left: 1px rgb(0, 0, 0) solid;
  border-bottom: 1px rgb(0, 0, 0) solid;
}
.password {
  height: 30px;
  width: 62%;
  border-top: 1px rgba(116, 105, 105, 0.342) solid;
  border-right: 1px rgba(138, 127, 127, 0.342) solid;
  border-left: 1px rgba(138, 127, 127, 0.342) solid;
  border-bottom: 1px rgba(138, 127, 127, 0.342) solid;
  color: black;
  border-radius: 5px;
}

.lastName:hover {
  border-top: 1px rgb(0, 0, 0) solid;
  border-right: 1px rgb(0, 0, 0) solid;
  border-left: 1px rgb(0, 0, 0) solid;
  border-bottom: 1px rgb(0, 0, 0) solid;
}
.lastName {
  height: 30px;
  width: 62%;
  border-top: 1px rgba(116, 105, 105, 0.342) solid;
  border-right: 1px rgba(138, 127, 127, 0.342) solid;
  border-left: 1px rgba(138, 127, 127, 0.342) solid;
  border-bottom: 1px rgba(138, 127, 127, 0.342) solid;
  color: black;
  border-radius: 5px;
}

.country:hover {
  border-top: 1px rgb(0, 0, 0) solid;
  border-right: 1px rgb(0, 0, 0) solid;
  border-left: 1px rgb(0, 0, 0) solid;
  border-bottom: 1px rgb(0, 0, 0) solid;
}
.country {
  height: 30px;
  width: 62%;
  border-top: 1px rgba(116, 105, 105, 0.342) solid;
  border-right: 1px rgba(138, 127, 127, 0.342) solid;
  border-left: 1px rgba(138, 127, 127, 0.342) solid;
  border-bottom: 1px rgba(138, 127, 127, 0.342) solid;
  color: black;
  border-radius: 5px;
}

.image {
  /* margin-right: 10%; */
  cursor: pointer;
}

.uploadButton {
  height: 1.4em;
  width: 8%;
  /* transform: translate(-0.3em, 0.1em); */
  font-size: 100%;
}

.uploadButton:hover {
  cursor: pointer;
}

.uploadButton:active {
  background-color: #04aa6d;
}

.email:hover {
  border-top: 1px rgb(0, 0, 0) solid;
  border-right: 1px rgb(0, 0, 0) solid;
  border-left: 1px rgb(0, 0, 0) solid;
  border-bottom: 1px rgb(0, 0, 0) solid;
}
.email {
  height: 30px;
  width: 62%;
  border-top: 1px rgba(116, 105, 105, 0.342) solid;
  border-right: 1px rgba(138, 127, 127, 0.342) solid;
  border-left: 1px rgba(138, 127, 127, 0.342) solid;
  border-bottom: 1px rgba(138, 127, 127, 0.342) solid;
  color: black;
  border-radius: 5px;
}
.link {
  color: rgb(41, 41, 153);
  text-decoration: none;
}
.sent {
  font-size: 1.5ch;
  font-family: system-ui;
  margin: 2%;
  color: rgb(117, 117, 117);
}
.registerButton:hover {
  border-top: 1px rgb(0, 0, 0) solid;
  border-right: 1px rgb(0, 0, 0) solid;
  border-left: 1px rgb(0, 0, 0) solid;
  border-bottom: 1px rgb(0, 0, 0) solid;
  cursor: pointer;
}

.registerButton {
  height: 30px;
  width: 62%;
  border-radius: 5px;
  border-top: 1px rgba(116, 105, 105, 0.342) solid;
  border-right: 1px rgba(138, 127, 127, 0.342) solid;
  border-left: 1px rgba(138, 127, 127, 0.342) solid;
  border-bottom: 1px rgba(138, 127, 127, 0.342) solid;
  background-color: #f5c323;
  color: #25211d;
  font-size: 2.2ch;
}

.message{
  margin-top: 1.5%;
    color: red;
    font-size: 1.2em;
  
}
