.registerPage {
  display: grid;
  height: 100%;
  width: 100%;
  /* background-color: #E9E9ED ; */
  margin-top: 2%;
}

.registerWord {
  display: grid;
  justify-content: center;

}

.firstNameLabel {
    font-size: larger;
      
  }

.firstName {
    height: 80%;
    width: 30%;
  margin-left: 35%;
  font-size: large;
  margin-top: 0.5%;
  border-radius: 6px;

}




.lastName {
    height: 80%;
    width: 30%;
  margin-left: 35%;
  font-size: large;
  margin-top: 0.5%;
  border-radius: 6px;


}

.lastNameLabel {
  font-size: larger;
}

.country {
    height: 80%;
    width: 30%;
  margin-left: 35%;
  font-size: large;
  margin-top: 0.5%;
  border-radius: 6px;


}

.countryLabel {
  font-size: larger;
}

.email {
    height: 80%;
  width: 30%;
  margin-left: 35%;
  font-size: large;
  margin-top: 0.5%;
  border-radius: 6px;


}

.emailLabel {
  font-size: larger;
}

.password {
    height: 80%;
    width: 30%;
  margin-left: 35%;
  font-size: large;
  margin-top: 0.5%;
  border-radius: 6px;


}

.passwordLabel {
  font-size: larger;
}
.registerButton {
  height: 150%;
  width: 30.7%;
  margin-left: 35%;
  font-size: large;
  background-color: #65a1cc;
  border-radius: 6px;

}

.registerButton:hover {
  cursor: pointer;
}
