.headerHome {
  width: 100%;
  height: 100vh;
  min-width:  80vh ;
  background-image: url(../../image/cover4.jpeg);

 background-size: cover;
 background-position: center;

  background-repeat: no-repeat;
  
}

.main {
  width: 100%;
  height:100vh;
  display: flex;
  /* padding-top: 50px; */
  /* padding-bottom: 70px; */
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-size: cover;
  background-size: cover;
  background-position: center;
 
   background-repeat: no-repeat;
}

/* .whatDo{} */
.whatDo #Welcome {
  font-size: 35px;
  font-weight: 200;
  letter-spacing: 3px;
  text-shadow: 1px 1px 2px black;
}
.whatDo #headerWhatDo {
  margin: 30px 0 20px 0;
  font-size: 40px;
  font-weight: 700;
  text-shadow: 2px 1px 5px black;
  text-transform: uppercase;
}

.whatDo #prgWhatDo {
  font-size: 25px;
  color: #eee;
  word-spacing: 2px;
  margin-bottom: 25px;
  text-shadow: 1px 1px 1px black;
}

.whatDo a {
  padding: 12px 30px;
  border-radius: 4px;
  outline: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  /* display: flex;
  justify-content: space-between; */
  transition: all 0.5s ease;
}

.whatDo #Register {
  margin: 100px;
  background: #f5c323;
  color: #000000;
}

#Register:hover {
  background: #000000;
  color: #f5c323;
}
.whatDo #Login {
  background: #000000;
  color: #f5c323;
}
#Login:hover {
  background: #f5c323;
  color: #000000;
}
.change_content:after {
  content: "";
  animation: changeText 10s infinite linear;
  color: #f5c323;
}

@keyframes changeText {
  0% {
    content: "Education";
  }
  50% {
    content: "Food";
  }
  80% {
    content: "Medical Supplies";
  }
  100% {
    content: "Rebuilding";
  }
}

.headerTarget {
  width: 300px;
  border-bottom: 3px solid #f5c323;
  text-align: center;
  font-size: 2rem;
  font-weight: 200;
  margin: 0 auto 50px;
  position: relative;
  padding: 10px 0;
  text-transform: uppercase;
}
.target {

  background-color: #fff;
  /* border-radius: 20px; */
  /* margin-top: 20px; */
  width: 100%;
}

.target .boxContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
  justify-content: space-evenly;
  justify-items: center;
}

.target .boxContainer .box {
  justify-content: space-evenly;
  width: 80%;
  background-color: #EBEBEB;
  text-align: center;
  padding-bottom: 25px;
  border-radius: 5px;
  box-shadow: 0 0 3px #c5c5c5;
  position: relative;
  margin-bottom: 15px;
}
.target .boxContainer .box .cardImage {
  width: 100%;
  height: 300px;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}

.target .boxContainer .box .cardImage:after {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  filter: grayscale(100%);
  transition: 1s;
}

.target .boxContainer .box:nth-child(1) .cardImage,
.target .boxContainer .box:nth-child(1) .cardImage:after {
  background-image: url(../../image/education.jpg);
}

.target .boxContainer .box:nth-child(2) .cardImage,
.target .boxContainer .box:nth-child(2) .cardImage:after {
  background-image: url(../../image/eat1.jpg);
}

.target .boxContainer .box:nth-child(3) .cardImage,
.target .boxContainer .box:nth-child(3) .cardImage:after {
  background-image: url(../../image/rep.jpg);
}

.target .boxContainer .box:nth-child(4) .cardImage,
.target .boxContainer .box:nth-child(4) .cardImage:after {
  background-image: url(../../image/med2.jpg);
}

.target .boxContainer .box:hover .cardImage:after {
  top: 100%;
}

.target .boxContainer .box .targetTitle {
  font-size: 16px;
  margin-top: 15px;
  font-weight: 600;
  color: #080808;
  /* text-shadow: 2px 1px 5px black; */
  text-transform: uppercase;
  letter-spacing: 3px;
}

.target .boxContainer .box .targetCount {
  font-size: 18px;
  font-weight: 600;
  color: #f5c323;
  margin-top: 10px;
  /* font-size: 25px; */
  color: rgb(32, 30, 30);
  word-spacing: 3px;
  /* margin-bottom: 25px; */
  /* text-shadow: 1px 1px 1px black; */
}

.target .boxContainer .box .targetCount span {
  color: rgb(10, 90, 21);
  
}

.target .boxContainer .box button {
  text-decoration: none;
 font-weight: bold;
  background-color: #F0D304;
  border-radius: 20px;
  color: #000000;
  font-style: italic;
  letter-spacing: 1.5px;
  
  position: absolute;
  left: 50%;
  

  transform: translate(-50%);
  bottom: -15px;
 
  padding: 7px 15px;
  border: 0;
  outline: none;
  cursor: pointer;
  margin-bottom: 5px;
}
/* 
.volunteering {
  height: 100vh;
  overflow: hidden;
  position: relative;
  margin-top: 30px;
}

.coverVol {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;

  transform: translate(-50%, -50%);
  background-image: url(../../image/vol2.jpg);
  background-size: cover;
  filter: grayscale(70%);

  background-repeat: no-repeat;
}

.volunteeringTitle {
  color: black;
  text-shadow: 0 0 4px #000;
  width: 300px;
  border-bottom: 3px solid #f5c323;
  text-align: center;
  font-size: 2rem;
  font-weight: 200;
  margin: 0 auto 50px;
  position: relative;
  padding: 10px 0;
  text-transform: uppercase;
}

.volunteeringCont {
  position: absolute;
  /* background-color: #000000; */
  /* width: 600px;
  top: 35vh;
  color: rgb(5, 5, 5);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 1px #000;
  padding: 30px;
}

.ektabas {
  font-size: 35px;
  font-weight: 300;
}

.prgVolunteering {
  word-spacing: 5px;

  font-size: 23px;
  line-height: 20px;
  margin: 10px 0 30px;
  color: black;
}

.btnVolunteering {
  background-color:  #6d5506;
  color: black;
  font-weight: bold;
  padding: 12px 30px;
  border-radius: 4px;
  outline: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}
.containerVolunteering {
  background-color: #e2e2e2;
  width: 80%;
  margin: auto;
} 
   */

   .SectionVolunteering{
     /* margin-top: 20px; */
     /* border-radius: 50px; */
     background-color: #fff;
     width: 100%;

   }

   .SectionVolunteering .containerVolunteering{
     width: 80%;
     display: block;
     margin: 0px auto;
     padding: 50px 0px;

   }

   .containerVolunteering .volunteeringTitle{
     width: 100%;
     text-align: center;
     margin-bottom: 50px;

   }
   .containerVolunteering .volunteeringTitle h1{
     text-transform: uppercase;
     font-size: 35px;
     color:#25211D ;
     font-size: 2rem;
     font-weight: 200;
  }

  .containerVolunteering .volunteeringTitle h1::after{
    content: "";
    height: 5px;
    width: 300px;
   
    background-color:#F0D304 ;
    border-radius: 25px;
    display: block;
    margin: auto;
  }
  .contentVolunteering{
    float: left;
    width: 55%;

  }

  .DivImageVolunteering{
    float: right;
    width: 40%;

  }
  .DivImageVolunteering img{
    width: 100%;
    height: auto;

  }

  .contentVolunteering .quotation h3{
color: #0e0d0d;
font-size: 17px;
float: left;


  }
  .contentVolunteering .quotation p{
    margin-top: 20px;
    color: #1a1818;
    font-size: 16px;
    line-height: 1.5;
    
      }

      .contentVolunteering .quotation  .btnVolunteering{
        margin-top: 50px;

      }
      .contentVolunteering .quotation  .btnVolunteering a{
       text-decoration: none;
       padding: 8px 25px;
       background-color: #F0D304;
       border-radius: 40px;
       color: #000000;
       font-size: 18px;
       letter-spacing: 1.5px;
        
      }

      .contentVolunteering .quotation  .btnVolunteering a:hover{
cursor: pointer;
background-color: #f5c323;
transition:1s ease ;

      }

      .containerVolunteering   .iconVolunteering{
        width: 100%;
        clear:both ;
        margin-top: 50px;
        text-align: center;
        display: inline-block;
      }
      .containerVolunteering   .iconVolunteering a{
        /* color: #fff; */
        font-size: 25px;
       height: 50px;
       width: 50px;
       /* border-radius: 30%; */
       line-height: 50px;
       text-align: center;
       /* background-color: #f5c323; */
       margin:0px 5px ;
      }


      @media screen and (max-width: 768px){
        .SectionVolunteering .containerVolunteering{
          width: 80%;
          display: block;
          margin: auto;
        }
        .contentVolunteering{
          float: none;
          width: 100%;
          display: block;
          margin: auto;
        }
        .DivImageVolunteering{
          float: none;
          width: 100%;
          margin-top: 50px;
        }
        .DivImageVolunteering img{
          width: 100%;
          height: auto;
          display: block;
          margin: auto;
        }
        .containerVolunteering .volunteeringTitle h1{
          text-align: center;
          font-size: 30px;


        }

        .containerVolunteering .quotation .btnVolunteering{
          text-align: center;

        }
        .containerVolunteering .quotation .btnVolunteering a{
padding: 6px 15px;
      font-size: 16px;  }
      .containerVolunteering .iconVolunteering a{
        font-size: 19px;
        height: 35px;
        width: 35px;
        line-height:35px ;
      }
      }